<?xml version="1.0"?>

<configuration>

  <connectionStrings>
    <add name="cs_Sql_Databasemdf" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>

</configuration>
